DATABASE_URL=""
PORT=3000

# ─── Clerk  ──────────────────────────────────────────────────────
CLERK_API_KEY=""
CLERK_ISSUER=""
CLERK_JWKS_URI=""
CLERK_WEBHOOK_SIGNING_SECRET=""

# ─── AWS S3 ────────────────────────────────────────────────────────────────────
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# ─── RabbitMQ ──────────────────────────────────────────────────────────────────
RABBITMQ_URL="amqp://localhost:5672"
